In [2]:
import numpy as nb 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
dataset = pd.read_csv('government-sector-employees-2021-first-part.csv')
dataset

         رقم الموظف الجنس  الجنسية  العمر              المؤهل المنطقة الإدارية
0            موظف 1  رجال    سعودي     40  دبلوم بعد الثانوية     منطقة الرياض
1            موظف 2  رجال    سعودي     36  دبلوم بعد الثانوية     منطقة الرياض
2            موظف 3  رجال    سعودي     38              ثانوية     منطقة الرياض
3            موظف 4  رجال    سعودي     32              ثانوية     منطقة الرياض
4            موظف 5  رجال    الهند     46             دكتوراه     منطقة الرياض
...             ...   ...      ...    ...                 ...              ...
463308  موظف 463309  رجال    سعودي     28              ثانوية     منطقة الرياض
463309  موظف 463310  رجال   كــوبا     41           الماجستير     منطقة الرياض
463310  موظف 463311  نساء  الفلبين     36         البكالوريوس     منطقة الرياض
463311  موظف 463312  رجال   كــوبا     35           الماجستير     منطقة الرياض
463312  موظف 463313  نساء   كــوبا     42           الماجستير     منطقة الرياض

[463313 rows x 6 columns]

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463313 entries, 0 to 463312
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   رقم الموظف        463313 non-null  object
 1   الجنس             463313 non-null  object
 2   الجنسية           463313 non-null  object
 3   العمر             463313 non-null  int64
 4   المؤهل            463313 non-null  object
 5   المنطقة الإدارية  463313 non-null  object
dtypes: int64(1), object(5)
memory usage: 21.2+ MB

In [20]:
dataset.isna().sum()

رقم الموظف          0
الجنس               0
الجنسية             0
العمر               0
المؤهل              0
المنطقة الإدارية    0
dtype: int64

In [21]:
dataset.duplicated().sum()

0

In [23]:
dataset.to_csv("employees.csv",index=False)